html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(70deg, #2e8bc0 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  padding: 10px;
}

h2{
  font-family: Arial;
  font-weight: 200;
  text-align: center;
  background: #E4E9FD;
  margin: 2px 35px 2px;
  padding: 10px;
  border-radius: 0.5rem;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #2e8bc0;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}
form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #2e8bc0;
  color: #fff;
  font-size: 30px;
  padding-bottom: 2px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 140px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  margin-left: 10px;
  color: grey;
  opacity: 1;
}

.btn {
  display: block;
  margin: auto;
  width : fit-content;
  background: #FFCB42;
  background-image: -webkit-linear-gradient(top, #FFCB42, #FFF4CF);
  background-image: -moz-linear-gradient(top, #FFCB42, #FFF4CF);
  background-image: -ms-linear-gradient(top, #FFCB42, #FFF4CF);
  background-image: -o-linear-gradient(top, #FFCB42, #FFF4CF);
  background-image: linear-gradient(to bottom, #FFCB42, #FFF4CF);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #081a94;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #D61C4E;
  background-image: -webkit-linear-gradient(top, #D61C4E, #1CD6CE);
  background-image: -moz-linear-gradient(top, #D61C4E, #1CD6CE);
  background-image: -ms-linear-gradient(top, #D61C4E, #1CD6CE);
  background-image: -o-linear-gradient(top, #D61C4E, #1CD6CE);
  background-image: linear-gradient(to bottom, #D61C4E, #1CD6CE);
  text-decoration: none;
}
