:root{
  --midnight-blue:#145da0;
  --dark-blue:#0c2d48;
  --blue:#2e8bc0;
  --baby-blue:#b1d4e0;
  --white:#fff
}

html {
  min-height: 1000px;
  font-family: 'helvetica neue';
  margin: 0; 
  padding: 0; 
}

body {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(70deg, #2e8bc0 50%, #E4E9FD 50%);
}

.dark-mode {
  background-color: #141414; 
  background-image: none; 
}

h1 {
  text-align: center;
  margin: 0 auto 2.5rem;
  padding-top: 1rem; 
  color: var(--blue);
  font-size: 2.5rem;
  font-family: 'Pacifico', cursive;
}

h2 {
  color: #fff;
  padding: 10px;
}

h3{
  font-family: Arial;
  font-weight: 200;
  text-align: center;
  background: #E4E9FD;
  margin: 2px 35px 2px;
  padding: 10px;
  border-radius: 0.5rem;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #2e8bc0;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
  width: 100%;  
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}
form {
  text-align: center;
  margin-left: 20px;
}

.btn-submit {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #2e8bc0;
  color: #fff;
  font-size: 30px;
  padding-bottom: 2px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 140px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  margin-left: 10px;
  color: grey;
  opacity: 1;
}

.btn {
  display: block;
  margin: auto;
  width : fit-content;
  background: #FFCB42;
  background-image: -webkit-linear-gradient(top, #FFCB42, #FFF4CF);
  background-image: -moz-linear-gradient(top, #FFCB42, #FFF4CF);
  background-image: -ms-linear-gradient(top, #FFCB42, #FFF4CF);
  background-image: -o-linear-gradient(top, #FFCB42, #FFF4CF);
  background-image: linear-gradient(to bottom, #FFCB42, #FFF4CF);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #081a94;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #D61C4E;
  background-image: -webkit-linear-gradient(top, #D61C4E, #1CD6CE);
  background-image: -moz-linear-gradient(top, #D61C4E, #1CD6CE);
  background-image: -ms-linear-gradient(top, #D61C4E, #1CD6CE);
  background-image: -o-linear-gradient(top, #D61C4E, #1CD6CE);
  background-image: linear-gradient(to bottom, #D61C4E, #1CD6CE);
  text-decoration: none;
}

.del { 
  display: inline-block; 
  float: right; 
}



/* Pomodoro */

.pomo-container {
  color: var(--white);
  font-weight: 700; 
  text-align: center;
  text-shadow: 0 2px grey;
  margin: 0 auto 2.5rem; 
  padding: 2rem; 
  max-width: 25rem; 
  background-color: var(--blue);
  border-radius: 0.5rem;
}

.pomo-container__session-change-button-details {
  display: flex; 
  width: 100%; 
  justify-content: space-between; 
  flex-wrap: wrap; 
}

.pomo-container__button {
  font-size: 1.1rem;
  padding: 0.5rem 1rem; 
  background-color: var(--blue);
  color: white; 
  border: none; 
  border-radius: 0.3rem; 
}


.pomo-container__button:hover{
  cursor: pointer;
  background-color: var(--midnight-blue);
}


.pomo-container__timer {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.pomo-container__timer-minutes,
.pomo-container__timer-separator,
.pomo-container__timer-seconds {
  font-size: 4rem;
}

.pomo-container__start-stop-button {
  font-size: 1.5rem; 
  font-weight: 700; 
  letter-spacing: 0.05rem; 
  color: var(--blue);
  padding: 1rem 3rem;
  background-color: var(--white);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 5px 0 0 var(--baby-blue);
}

.pomo-container__start-stop-button:hover{
  cursor: pointer; 
}